* {
    box-sizing: border-box;
}

.btn {
    background-color: green;
    border-radius: 15px;
    color: white;
    transition: background-color 0.3s linear;
    transition: box-shadow 0.3s ease-in 0.5s;
}

.btn:hover {
    background-color: lightgreen;
    box-shadow: darkgreen 2px 2px 5px;
}

header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.bg {
    background-color: beige;
    background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg");
    background-size: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: filer 1s ease-in;
}

h1 {
    transition: filter 1s ease-in;
}

header:hover h1 {
    filter: blur(1px);
}

header:hover .bg {
    filter: blur(0);
}